
@font-face {
    font-family: 'merriweather_sansregular';
    src: url('fonts/MerriweatherSans-Regular-webfont.eot');
    src: url('fonts/MerriweatherSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/merriweathersans-regular-webfont.woff2') format('woff2'),
         url('fonts/merriweathersans-regular-webfont.woff') format('woff'),
         url('fonts/merriweathersans-regular-webfont.ttf') format('truetype'),
         url('fonts/merriweathersans-regular-webfont.svg#merriweather_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	-webkit-highlight: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none
}

html, body {
	margin: 0;
	padding: 0;
	/* -webkit-text-size-adjust: 100%; */
	font-family: "merriweather_sansregular", "Merriweather Sans", Lucida Sans, Helvetica, Arial, sans-serif;
	overflow: hidden;
}

li {
	text-align: center;
	list-style: none;
	padding: 50px;
}
.fp {
	background-color: rgb(163,225,250);
}
.toTransparent {
	background-color: transparent;
}
.start {
	display: block;
	outline: none;
	font-size: 18px;
	text-align: center;
	color: white;
	box-shadow: none;
	border: 4px solid white;
	background-color: rgb(163,225,250);
	margin-left: auto;
    margin-right: auto;
	width: 180px;
	height: 60px;
}
.start:hover {
	background-color: rgba(255,255,255, 0.4);
}
.app-icon {
	padding: 50px;
	display: block;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.opening {
	margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    background-color: rgb(163,225,250);
}
.instruction, .instruction-2, .instruction-3 {
	display: none;
	font-size: 14px;
	position: absolute;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	background-color: white;
	opacity: 0.8;
	bottom: 0px;
}
.convo1, .convo2{
 
  width: 30%;
  height: 175px;
  position:relative;
  margin:1em 0 3em;
  font-size: 12px;
  color:#000;
  background:#ffffff;
  background: #a3e1fa;
  padding: 10px;
  line-height: 175%;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:20px;
}
.convo1.left {
  float: left;
  margin-left:2%;
}
.convo2.right {
  float: right;
  margin-right:2%;
}
.convo1:after, .convo2:after{
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  border-width:15px 25px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#ffffff transparent;
  border-color: #a3e1fa transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0px;
}
.convo1.left:after {
  left:12%; /* value = - border-left-width - border-right-width */

}
.convo2.right:after {
  right:12%; /* value = - border-left-width - border-right-width */
}
.narration {
	font-size: 90%;
    display: none;
	position: absolute;
	background-color: rgba(163,225,250, 0.5);
	text-align: left;
	padding: 5px;
	line-height: 175%;
	width: 100%;
	height: 20%;
	bottom: 0px;
}

